@import "variables";

// Index Page

@mixin center() {
  text-align: center;
}

@mixin roudedButton() {
  background-color: $dark;
  border-radius: 60px;
  font-family: $OpenSans;
  padding: 2.4vh;
  font-weight: 700;
  box-shadow: none;

  &:hover {
    background-color: $dark;
  }
}

@mixin homepageSection() {
  padding-left: 20%;
  padding-right: 20%;
  min-height: 100vh;

  @media only screen and (max-width: 600px) {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@mixin navTitle() {
  font-weight: 500;
  font-family: $OpenSans;
  color: $lightest;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;

  &:hover {
    color: white;
  }
}


// Courses Page
@mixin coursesHorizontalPadding() {
  padding-left: 10%;
  padding-right: 10%;
}
