$default-blue: #0070f3;

//Main website theme colours
$lightest: #E4F9F5;
$light: #30E3CA;
$dark: #11999E;
$darkest: #40514E;

//Additional colours
$light-1: #B8E8DF;
$green-tag: #E4F9F5;
$green-text: #87B1A8;
$yellow-tag: #FAF5DF;
$yellow-text: #B1AD87;
$red-tag: #F9E4E4;
$red-text: #B18787;

//Fonts
$OpenSans: 'Open Sans', sans-serif;
$Montserrat: 'Montserrat', sans-serif;