$default-blue: #0070f3;

//Main website theme colours
$lightest: #E4F9F5;
$light: #30E3CA;
$dark: #11999E;
$darkest: #40514E;

//Additional colours
$light-1: #B8E8DF;


//Fonts
$OpenSans: 'Open Sans', sans-serif;