@import "variables";
@import "mixins";

// For top half section
.topSection {
  background-color: $lightest;
  width: 100%;
  padding-top: 10vh;
  height: 40vh;

  .bubblesTopLeft {
    position: absolute;
    height: auto;
    width: 30vh;
    left: -50px;
  }

  .titlesContainer, .searchContainer {
    @include coursesHorizontalPadding;
    position: relative;

    .title {
      color: $dark;
      font-size: 3.5vh;
      margin-bottom: 0;
    }
    .subtitle {
      color: $darkest;
      font-size: 2vh;
      margin-top: 1vh;
      margin-bottom: 4vh;
    }
    .arrowButton {
      font-size: 3.5vh;
      margin-left: 10px;
      margin-top: 5px;
      margin-bottom: -8px;
      color: $light-1;
      background-color: $dark;
      border-radius: 50%;
      transition: .2s ease-in-out;
      

      &:hover {
        background-color: $light-1;
        color: $dark;
      }
    }
  }

  .searchContainer {

    .searchSubContainer {
      padding-right: 1.5rem;
    }

    .gradeSliderContainer {
      background-color: $light-1;
      border-radius: 60px;
      padding: 16.5px;
      padding-left: 25px;
      padding-right: 35px;
  
      .gradeLabel {
        font-family: $OpenSans;
        color: $dark;
        font-weight: 600;
        margin: 0;
        margin-right: 20px;
        font-size: 2vh;
      }
    }
  }
}

// For bottom half section
.botSection {
  width: 100%;
  //height: 100%;
  height: 100%;
  min-height: 60vh;
  background: linear-gradient(244.63deg, #30E3CA -7.2%, rgba(48, 227, 202, 0) 67.45%), #11999E;
  overflow: hidden;
  position: fixed;
  justify-content: center;

  .bubblesLeft {
    position: absolute;
    left: -8rem;
    margin-top: 4rem;
  }
  .bubblesRight {
    position: absolute;
    right: -8rem;
    margin-top: 4rem;
  }


}
.coursesContainer {
  @include coursesHorizontalPadding;
  position: fixed;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  top: 45vh;
  bottom: 0;
  transition: 1s ease-in-out;

  .noCourses {
    color: white;
    font-family: $OpenSans;
    font-size: 2vh;
    margin-top: 100px;
  }
}

// For CourseItem
.hideCoursesLeft {
  transform: translateX(-150%);
}
.courseItemBox {
  @include itemContainer;
  margin-bottom: 1.2rem;
  border-radius: 20px;
  padding:0;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.08);

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 80px;
    background-color: $lightest;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
  }

  .infoContainer {
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .courseName {
      font-weight: 600;
      font-family: $OpenSans;
      font-size: 2.5vh;
      color: $darkest;
      margin: 0;
    }
    .gradeLevel {
      @include tag($green-tag, $green-text, false);
    }
  }

  .detailsButtonContainer {
    margin-right: 3%;    
    margin-left: 3%;  

    .detailsButton {
      @include roundedButton;
      
      color: white;
      padding: 1rem 1.5rem;
      
      &:hover {
        box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
      }
    }
    .mobileDetailsButton {
      color: $dark;
      display: none;
    }
  }
}
.extraInfo {
  font-family: $OpenSans;
  font-size: 1.8vh;
  color: #9AA2A1;
  padding-bottom: .17rem;
  font-weight: 400;
  margin: 0;
}

.fadeInSection {
  opacity: 0;
  transform: translateY(8vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
  visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.isVisible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

// For details item
.hideDetailsRight {
  transform: translateX(150%) !important;
}
.detailsItemContainer {
  @include itemContainer;
  z-index: 3000;
  width: 90%;
  margin-top: 0;
  margin-bottom: 2.1rem;
  transition: 1s ease-in-out;

  .detailsInfoContainer {
    padding: 2rem 3.8rem;
    margin: 0;

    .courseNameDetails {
      font-size: 2.7vh;
      margin: 0;
    }
    
    .backButton {
      color: $dark;
      margin-right: .6rem;
      margin-left: -.5rem;
      padding: 0;

      &:hover {
        background-color: $lightest;
      }

      .backButtonIcon {
        font-size: 5vh;
      }
    }

    .tagDetails {
      margin: 0;

      .gradeLevelDetailsTag {
        @include tag($green-tag, $green-text, true);
      }
      .priceDetailsTag {
        @include tag($yellow-tag, $yellow-text, true);
      }
      .lessonsTotalDetailsTag {
        @include tag($red-tag, $red-text, true);
      }
    }
    .descriptionDetails {
      font-family: $OpenSans;
      font-weight: 300;
      color: $darkest;
      font-size: 2.1vh;
    }
    .trialDetails {
      font-size: 2.1vh;
      font-family: $OpenSans;
      font-weight: 600;
      color: $dark;
    }
  }
  .imageDetailsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39vh;
    height: 30vh;
    background-color: $lightest;
    margin-right: 6vh;
    margin-top: 6vh;
    margin-bottom: 6vh;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 1060px) {
  .imageDetailsContainer {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */

  // Top Section
  .topSection {
    padding-top: 5rem !important;
    height: 100%;
  }
  .title {
    font-size: 1.3rem !important;
    margin-bottom: 0 !important;
  }
  .subtitle {
    font-size: .8rem !important;
    margin-bottom: 1.2rem !important;
    margin-top: .5rem !important;
  }
  .arrowButton {
    font-size: 1.3rem !important;
  }
  .searchContainer {
    margin-bottom: 2rem !important;
    margin-top: 0;

    .searchSubContainer {
      padding-right: 0 !important;
    }

    .gradeSliderContainer {
      margin-top: 1rem !important;
      padding: 15px !important;
      padding-left: 20px !important;
      padding-right: 30px !important;
  
      .gradeLabel {
        font-size: .8rem !important;
      }
    }
  }

  // Bubbles
  .bubblesTopLeft, .imageDetailsContainer{
    display: none;
  }
  .bubblesLeft {
    left: -180px !important;
  }
  .bubblesRight {
    right: -220px !important;
  }

  // Bottom course section
  .courseItemBox {
    margin-bottom: .8rem;
  }

  .imageContainer {
    display: none !important;
  }
  .infoContainer {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;

    .courseName {
      font-size: 1rem !important;
    }
    .gradeLevel {
      font-size: .7rem !important;
    }
  }
  .detailsButton {
    display: none;
  }
  .mobileDetailsButton {
    display: block !important;
    width: 2.2rem;
    height: 2.2rem;
  }
  .extraInfo {
    font-size: .7rem !important;
  }
  .coursesContainer {
    top: 22rem;

    .noCourses {
      font-size: 1rem !important;
    }
  } 

  // Details section
  .gradeLevelDetailsTag, .priceDetailsTag, .lessonsTotalDetailsTag{
    font-size: .7rem !important;
  }
  .descriptionDetails, .trialDetails {
    font-size: .8rem !important;
  }
  .detailsItemContainer {
    width: 100% !important;

    .detailsInfoContainer {
      padding: 1.2rem 2.7rem;

      .courseNameDetails {
        font-size: 1.1rem !important;
      }
      .backButtonIcon {
        font-size: 2rem !important;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .gradeSliderContainer {
    width: 100%;
  }

  .bubblesLeft, .bubblesRight {
    display: none;
  }
}