@import "variables";
@import "mixins";

.topSection {
  background-color: $lightest;
  min-height: 40vh;
  width: 100%;
  padding-top: 10vh;

  .titlesContainer {
    @include coursesHorizontalPadding;
    position: relative;

    .title {
      color: $dark;
      font-size: 3.6vh;
    }
    .subtitle {
      color: $darkest;
      font-size: 2.1vh;
    }

  }

  .bubblesTopLeft {
    position: absolute;
    left: 0;
    width: 15%;
    height: auto;
    z-index: 0;
  }

  .bubblesTopRight {
    position: absolute;
    right: 0;
    width: 22%;
    height: auto;
    z-index: 0;
  }
}

.eventContainer {
  @include itemContainer;

  .eventDateBox {
    @include center;

    background-color: $lightest;
    min-width: 12vh;
    min-height: 12vh;

    border-radius: 20px 0 0 20px;

    .eventDateMonth {
      letter-spacing: 3px;
      font-family: $Montserrat;
      font-size: 1.4vh;
      color: #11999E;
      font-weight: 700;
      margin: 0;
    }

    .eventDateDate {
      font-family: $Montserrat;
      font-weight: 700;
      font-size: 3.6vh;
      color: #11999E;
      margin: 0;
    }
  }

  .eventContentBox {

    padding-left: 3.6vh;
    padding: 3.6vh;
    
    .eventName {
      font-family: $OpenSans;
      font-weight: 700;
      font-size: 2.4vh;
      color: #40514E;
      margin: 0;
      margin-right: 20px;
    }

    .eventTimeBox {
      background-color: #E4F9F5;
      padding: 0.8vh 1vh;
      border-radius: 5px;
      
    }

    .eventTime {
      margin: 0;
      font-size: 1.6vh;
      font-family: $OpenSans;
      font-weight: 700;
      color: #9EC5BC;
    }

    .eventDetails {
      font-family: $OpenSans;
      font-weight: 400;
      font-size: 2vh;
      color: #40514E;
      margin: 0;
    }
  }

}

.botSection {
  // @include coursesHorizontalPadding;
  position: relative;
  overflow: hidden;

  height: 60vh;
  background: linear-gradient(244.63deg, #30E3CA -7.2%, rgba(48, 227, 202, 0) 67.45%), #11999E;

  padding-top: 5vh;

  .bubblesLeft {
    position: absolute;
    left: -15vh;
    margin-top: 8vh;
  }

  .bubblesRight {
    position: absolute;
    right: -15vh;
  }

  .eventsContainer {
    @include coursesHorizontalPadding;

    .noEvents {
      color: white;
      font-family: $OpenSans;
      font-size: 2vh;
      margin-top: 100px;
    }
  }
}

.fadeInSection {
  opacity: 0;
  transform: translateY(6vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
  visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.isVisible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */

  // Top Section
  .topSection {
    min-height: 35vh !important;
    padding-top: 5vh !important;

    .title {
      font-size: 3vh !important;
    }

    .subtitle {
      font-size: 1.8vh !important;
    }
  }

  .eventContentBox {

    padding: 3vh 4vh !important;
    padding-left: 3vh !important;

    .eventName {
      font-size: 2vh !important;
    }

    .eventDetails {
      font-size: 1.7vh !important;
    }

    .eventTimeBox {
      background-color: #E4F9F5;
      padding: 0.7vh 0.9vh;
      border-radius: 5px;
    }

    .eventTime {
      margin: 0;
      font-size: 1.5vh !important;
    }

  }

  .eventDateBox {
    min-width: 8vh !important;
    min-height: 8vh !important;

    .eventDateMonth {
      font-size: 1vh !important;
    }

    .eventDateDate {
      font-size: 1.8vh !important;
    }
  }
  .noEvents {
    font-size: 1.8vh !important;
  }

  // Bot Section
  .botSection {
    min-height: 65vh !important;

    .bubblesLeft {
      position: absolute;
      left: -15vh;
      margin-top: 8vh;
    }

    .bubblesRight {
      position: absolute;
      right: -15vh;
    }
  }

  .bubblesTopLeft, .bubblesLeft, .bubblesRight {
    display: none;
  }

  .bubblesTopRight {
    width: 50% !important;
  }
}

@media only screen and (max-width: 460px) {
  .topSection {
    min-height: 37vh !important;
    padding-top: 6vh !important;
  }
  .botSection {
    min-height: 63vh !important;
  }
}