@import "mixins";
@import "variables";

.startingContainer {
  @include homepageSection;
}

.subtitle {
  font-size: 2vh;
  margin-bottom: 5vh
}

.searchButton {
  @include roundedButton;

  padding-left: 4vh;
  padding-right: 4vh;
}

.startingBubbles {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: auto;
  z-index: 0;
}

.startingLeft {
  z-index: 2;
  padding-right: 7%;
}

.boyImage {
  width: 100%;
  height: 100%;
}

.startingBubblesMobile {
  display: none;
}

.enrollContainer {
  @include homepageSection;
  @include center;

  background-color: #D0F1EB;
  position: relative;
}

.enrollText {
  @include center;
  font-size: 2.4vh;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 7vh;
  font-weight: 300;
}

.enrollItem {
  height: 100%;
}

.enrollItemContainer {
  background-color: $lightest;
  border-radius: 25px;
  padding: 8vh 5vh;
  margin: 1vh;
  transition: 0.2s;
  height: 100%;

  &:hover {
    transform: translateY(-10px) scale(1.02);
  }
}

.enrollItemText {
  color: #6F8984;
  font-size: 1.8vh;
  font-weight: 400;
}

.enrollBubblesTop {
  position: absolute;
  left: 0;
  top: 3%;
  width: 40%;
  height: auto;
}

.enrollBubblesBottom {
  position: absolute;
  right: 0;
  bottom: 3%;
  width: 22%;
  height: auto;
}

.enrollBubblesMobile {
  display: none;
}

.forStudentsContainer {
  @include homepageSection;
  @include center;

  min-height: 0vh;
  position: relative;
  padding: 20vh 20%;

  .enrollTitle {
    margin-top: 0;
  }
}

.forStudentsText {
  @include center;
  font-size: 2.4vh;
  padding-left: 20%;
  padding-right: 20%;
  font-weight: 300;
}

.forStudentsHr {
  width: 15%;
  margin-top: 5vh;
  color: #40514E;
  background-color: #40514E;
  border: none;
  height: 3px;
}

.studentsBubblesLeft {
  position: absolute;
  left: 10%;
  width: 15%;
  top: 45%;
  height: auto;
}

.studentsBubblesRight {
  position: absolute;
  right: 10%;
  width: 15%;
  top: 45%;
  height: auto;
}

.studentsBubblesMid {
  position: absolute;
  width: 20%;
  top: 15%;
  height: auto;
}

.interestedContainer {
  @include center;
  @include homepageSection;

  position: relative;
}

.interestedBox {
  background-color: #D0F1EB;
  border-radius: 28px;
  padding: 12vh;
}

.interestedText {
  font-size: 2.4vh;
  padding-left: 20%;
  padding-right: 20%;
  font-weight: 300;
  margin-bottom: 10vh;
}

.interestedSteps {
  padding-left: 4vh
}

.interestedStepCircle {
  background-color: #ADD7CF;
  border-radius: 1000px;
  width: 8vh;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -4vh;
  top: 50%;
  transform: translateY(-50%);
}

.interestedStepNumber {
  color: #E4F9F5;
  font-size: 3.6vh;
  margin: 0;
}

.interestedStepBox {
  background-color: $lightest;
  padding: 3vh;
  padding-left: 6vh;
  border-radius: 21px;
  position: relative;
}

.interestedStepTitle {
  font-size: 2vh;
  color: rgba(64, 81, 78, 0.7);
  text-align: left;
  margin-top: 0px;
  font-weight: 600;
  margin-bottom: 1vh;
}

.interestedStepText {
  font-size: 1.8vh;
  color: rgba(64, 81, 78, 0.7);
  opacity: 0.9;
  text-align: left;
  margin-bottom: 0px;
  margin-top:0;
}

.emailImage {
  width: 70%;
  height: auto;
  margin-top: 10vh;
}

.interestedBubblesLeft {
  position: absolute;
  left: 0;
  width: 17%;
  height: auto;
  z-index: 0;
}

.interestedBubblesRight {
  position: absolute;
  right: 0;
  width: 20%;
  height: auto;
  z-index: 0;
  bottom: 0;
}

.discountContainer {
  @include center;
  @include homepageSection;

  min-height: 0vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.discountBox {
  background-color: #F1D0D0;
  border-radius: 28px;
  padding: 12vh;
  position: relative;
}

.discountImage {
  position: absolute;
  width: 20%;
  height: auto;
  top: -10%;
  right: 10%;
}

.discountTitle, .discountText {
  color: #514040;
}

@media only screen and (max-width: 900px) {
  .interestedContainer {
    padding-left: 0;
    padding-right: 0;
  }

  .interestedBox {
    border-radius: 0;
    padding: 3vh;
  }

  .emailImage {
    width: 90%;
  }

  .interestedBubblesLeft, .interestedBubblesRight {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .startingBubblesMobile {
    display: block;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: auto;
  }

  .title {
    @include center;
    font-size: 2.7vh;
  }

  .subtitle {
    @include center;
    font-size: 1.5vh;
  }

  .startingLeft {
    justify-content: center;
    margin-top: -30vh;
    padding-left: 3vh;
    padding-right: 3vh;
  }

  .boyImage {
    width: 60%;
    height: 60%;
  }

  .startingBubbles, .enrollBubblesTop, .enrollBubblesBottom {
    display: none;
  }

  .enrollTitle, .interestedTitle, .discountTitle {
    font-size: 2.7vh;
  }
 
  .enrollText, .interestedText, .discountText{
    font-size: 1.5vh;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 3vh;
  }

  .enrollItemText {
    text-align: left;
    font-size: 1.5vh;
  }

  .enrollItemContainer {
    padding: 3vh;
    margin: 1vh;
  }

  .enrollBubblesMobile {
    display: block;
    position: absolute;
    top: 5%;
    width: 100%;
    height: auto;
  }

  .forStudentsContainer {
    padding: 10vh 5%;
    overflow: hidden;
    
  }

  .forStudentsText {
    font-size: 1.5vh;
    padding-left: 5%;
    padding-right: 5%;
  }

  .studentsBubblesLeft {
    left: -15%;
    width: 40%;
    top: 50%;
  }

  .studentsBubblesRight {
    right: -15%;
    width: 40%;
    top: 50%;
  }

  .studentsBubblesMid {
    width: 50%;
  }

  .interestedStepTitle {
    font-size: 1.6vh;
  }

  .interestedStepText {
    font-size: 1.2vh;
  }

  .discountBox {
    padding: 3vh;
  }
}