@import "mixins";
@import "variables";

.navbar {
  background-color: $dark;
  box-shadow: none;
}

.navTitleDesktop {
  @include navTitle;
  text-align: center;

  @media only screen and (width: 600px) {
    font-size: 2vh;
    font-weight: 500;
  }
}

.navTitleMobile {
  @include navTitle;
  
}

.logo {
  color: $lightest;
  font-family: $OpenSans;
  @media only screen and (max-width: 600px) {
    font-size: 1.5vh;
  }
}

.logoImage {
  width: 50px;
  height: auto;
  margin: 0;
}

.china {
  background-image: url('/images/china.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.2s;
}

.canada {
  background-image: url('/images/canada.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.2s;
}

.toggle {
  display: block;
  height: 2.5rem;
  width: 5rem;
  background-color: #0B7A7E;
  border-radius: 10000px;
  padding: 0.3rem;
  margin-left: 20px;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.2s;
  float: right;

  &:hover {
    opacity: 1;
  }
}

.languageToggle {
  height: 100%;
}

.mobileNavBubblesLeft {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40%;
  height: auto;
  z-index: -1;
}

.mobileNavBubblesRight {
  position: absolute;
  right: 0;
  bottom: 10%;
  width: 40%;
  height: auto;
  z-index: -1;
}